.iconsize{
  width: 20px;
  margin: 0 10px;

}
body{
  background-image: url(https://imgak.mmtcdn.com/pwa_v3/pwa_commons_assets/desktop/bg4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}
.redFilter {
  filter: invert(39%) sepia(86%) saturate(5869%) hue-rotate(0deg) brightness(102%) contrast(107%);
}
.inputcoustom{
  width: 100%;
    text-align: center;
    font-size: large;
    font-family: ui-monospace;
    margin: 3px;
    padding: 4px;
    height: 40px;
    
    border-radius: 10px;
    border: 1px solid gray;
}
.custom-margin{
  margin-top: 50px;
}
.postion-arrange{
  position: absolute;
  top: 10%;
  border: 2px solid lightgray;
  border-radius: 30px;
}

